$primary-color: #46a4a3;
$secondary-color: #ef9740;
$background-color: #ffffff;
$label-color: #666666;
$heading-color: #555555;
$post-back-color: #eeeeee;
$btn-background: #cccccc;

a{
    color: $secondary-color;
}